mat-card {
    max-width: 500px;
    margin: 1em auto;
    text-align: center;
  }


  mat-card-title {
  max-width: 400px;
  margin: 1em auto;
  text-align: center;
}

mat-card-title {
  text-align: center;
}

mat-form-field {
  width: 500px;
}

input.rename-image {
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}