mat-card {
    max-width: 400px;
    margin: 1em auto;
    text-align: center;
  }

  mat-card-title {
  max-width: 400px;
  margin: 1em auto;
  text-align: center;
}

mat-card-title {
  text-align: center;
}

mat-form-field {
  width: 300px;
}