.post-view:hover {
    filter: brightness(90%);
}

.mat-display-1 {
    margin: 0 0 30px;
}

pre {
    font-size: inherit;
    color: inherit;
    border: initial;
    padding: initial;
    font-family: inherit;
    }
