




<div class="container">
    <app-menu></app-menu>
  
    <app-column-left></app-column-left>
        <div main>
  
    <router-outlet></router-outlet>
        </div>
    <app-column-right></app-column-right>
  
    <app-footer></app-footer>
</div>

<!-- <div>
    <mat-toolbar color="primary">
      <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
  
      <span>BLOG APP</span>
      <span class="example-spacer"></span>
      <div fxShow="true" fxHide.lt-md="true">



        <mat-toolbar color="primary" class="flexSpaceBetween">
        <span>
            <button mat-button [routerLink]="['/']">
                <mat-icon>home</mat-icon>
                Home
            </button>
            <span class="example-spacer"></span>
            <button mat-button>Register</button>
            
            <span class="example-spacer"></span>
            <button mat-button [routerLink]="['/login']"><mat-icon>login</mat-icon> Login</button>
            <span class="example-spacer"></span>
            <button mat-button (click)="logout()"><mat-icon>logout</mat-icon> Logout</button>
            <span class="example-spacer"></span>
            <button mat-button [routerLink]="['/about']"><mat-icon>info</mat-icon> About</button>
        </span>
        </mat-toolbar>


      </div>
  
    </mat-toolbar>
    <mat-sidenav-container fxFlexFill class="example-container">
  
      <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
        <div fxLayout="column">
          <a mat-button routerLink="/">Home</a>
          <a mat-button routerLink="/register">Register</a>
          <a mat-button routerLink="/login">Login</a>
          <a mat-button (click)="logout()">Logout</a>
          <a mat-button routerLink="/about">About</a>
        </div>
      </mat-sidenav>

    </mat-sidenav-container>
</div> -->


<!-- <mat-sidenav-content fxFlexFill>
        
        

    <div class="coloredContainerX box" fxlayout="row" 
        style="flex-direction: row; box-sizing: border-box; display: flex;">
        <div fxflex="5" fxflex.gt-sm="25" 
            style="flex: 1 1 100%; box-sizing: border-box; max-width: 20%;" fxHide fxShow.gt-sm>
          
        </div>
        <div fxflex="90" fxflex.gt-sm="50" 
            style="flex: 1 1 100%; box-sizing: border-box; max-width: 100%;">
            
            <router-outlet></router-outlet>

        </div>
        <div fxflex="5" fxflex.gt-sm="25" 
            style="flex: 1 1 100%; box-sizing: border-box; max-width: 20%;" fxHide fxShow.gt-sm> 
        </div>            
    </div>





  </mat-sidenav-content> -->